@import "tailwindcss";

:root {
  --salus-primary: #344465;
  --salus-primary-dark: #293752;

  --salus-background: #ffffff;
  --salus-background-alt: #f7f8fa;

  --salus-text: #172033;
  --salus-text-secondary: #667085;

  --salus-border: #e5e7eb;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--salus-background);
  color: var(--salus-text);
  font-family: Arial, sans-serif;
}